
/.project
/.settings
/framework/.classpath
/framework/.project
/framework/.settings
/framework/target
/mock/.settings
/mock/target
/mock/.project
/mock/.classpath
/samples/yiij-sample-app/.settings
/samples/yiij-sample-app/target
/samples/yiij-sample-app/.classpath
/samples/yiij-sample-app/.project
/samples/yiij-sample-webapp/target
/samples/yiij-sample-webapp/.settings
/samples/yiij-sample-webapp/.classpath
/samples/yiij-sample-webapp/.project